@layer utilities {
.text-cerise-red-50 { color: var(--cerise-red-50) !important; }
.text-cerise-red-100 { color: var(--cerise-red-100) !important; }
.text-cerise-red-200 { color: var(--cerise-red-200) !important; }
.text-cerise-red-300 { color: var(--cerise-red-300) !important; }
.text-cerise-red-400 { color: var(--cerise-red-400) !important; }
.text-cerise-red-500 { color: var(--cerise-red-500) !important; }
.text-cerise-red-600 { color: var(--cerise-red-600) !important; }
.text-cerise-red-700 { color: var(--cerise-red-700) !important; }
.text-cerise-red-800 { color: var(--cerise-red-800) !important; }
.text-cerise-red-900 { color: var(--cerise-red-900) !important; }
.text-cerise-red-950 { color: var(--cerise-red-950) !important; }

.bg-cerise-red-50 { background-color: var(--cerise-red-50) !important; }
.bg-cerise-red-100 { background-color: var(--cerise-red-100) !important; }
.bg-cerise-red-200 { background-color: var(--cerise-red-200) !important; }
.bg-cerise-red-300 { background-color: var(--cerise-red-300) !important; }
.bg-cerise-red-400 { background-color: var(--cerise-red-400) !important; }
.bg-cerise-red-500 { background-color: var(--cerise-red-500) !important; }
.bg-cerise-red-600 { background-color: var(--cerise-red-600) !important; }
.bg-cerise-red-700 { background-color: var(--cerise-red-700) !important; }
.bg-cerise-red-800 { background-color: var(--cerise-red-800) !important; }
.bg-cerise-red-900 { background-color: var(--cerise-red-900) !important; }
.bg-cerise-red-950 { background-color: var(--cerise-red-950) !important; }

.border-cerise-red-50 { border-color: var(--cerise-red-50) !important; }
.border-cerise-red-100 { border-color: var(--cerise-red-100) !important; }
.border-cerise-red-200 { border-color: var(--cerise-red-200) !important; }
.border-cerise-red-300 { border-color: var(--cerise-red-300) !important; }
.border-cerise-red-400 { border-color: var(--cerise-red-400) !important; }
.border-cerise-red-500 { border-color: var(--cerise-red-500) !important; }
.border-cerise-red-600 { border-color: var(--cerise-red-600) !important; }
.border-cerise-red-700 { border-color: var(--cerise-red-700) !important; }
.border-cerise-red-800 { border-color: var(--cerise-red-800) !important; }
.border-cerise-red-900 { border-color: var(--cerise-red-900) !important; }
.border-cerise-red-950 { border-color: var(--cerise-red-950) !important; }

.text-puerto-rico-50 { color: var(--puerto-rico-50) !important; }
.text-puerto-rico-100 { color: var(--puerto-rico-100) !important; }
.text-puerto-rico-200 { color: var(--puerto-rico-200) !important; }
.text-puerto-rico-300 { color: var(--puerto-rico-300) !important; }
.text-puerto-rico-400 { color: var(--puerto-rico-400) !important; }
.text-puerto-rico-500 { color: var(--puerto-rico-500) !important; }
.text-puerto-rico-600 { color: var(--puerto-rico-600) !important; }
.text-puerto-rico-700 { color: var(--puerto-rico-700) !important; }
.text-puerto-rico-800 { color: var(--puerto-rico-800) !important; }
.text-puerto-rico-900 { color: var(--puerto-rico-900) !important; }
.text-puerto-rico-950 { color: var(--puerto-rico-950) !important; }

.bg-puerto-rico-50 { background-color: var(--puerto-rico-50) !important; }
.bg-puerto-rico-100 { background-color: var(--puerto-rico-100) !important; }
.bg-puerto-rico-200 { background-color: var(--puerto-rico-200) !important; }
.bg-puerto-rico-300 { background-color: var(--puerto-rico-300) !important; }
.bg-puerto-rico-400 { background-color: var(--puerto-rico-400) !important; }
.bg-puerto-rico-500 { background-color: var(--puerto-rico-500) !important; }
.bg-puerto-rico-600 { background-color: var(--puerto-rico-600) !important; }
.bg-puerto-rico-700 { background-color: var(--puerto-rico-700) !important; }
.bg-puerto-rico-800 { background-color: var(--puerto-rico-800) !important; }
.bg-puerto-rico-900 { background-color: var(--puerto-rico-900) !important; }
.bg-puerto-rico-950 { background-color: var(--puerto-rico-950) !important; }

.border-puerto-rico-50 { border-color: var(--puerto-rico-50) !important; }
.border-puerto-rico-100 { border-color: var(--puerto-rico-100) !important; }
.border-puerto-rico-200 { border-color: var(--puerto-rico-200) !important; }
.border-puerto-rico-300 { border-color: var(--puerto-rico-300) !important; }
.border-puerto-rico-400 { border-color: var(--puerto-rico-400) !important; }
.border-puerto-rico-500 { border-color: var(--puerto-rico-500) !important; }
.border-puerto-rico-600 { border-color: var(--puerto-rico-600) !important; }
.border-puerto-rico-700 { border-color: var(--puerto-rico-700) !important; }
.border-puerto-rico-800 { border-color: var(--puerto-rico-800) !important; }
.border-puerto-rico-900 { border-color: var(--puerto-rico-900) !important; }
.border-puerto-rico-950 { border-color: var(--puerto-rico-950) !important; }
} 